$backgroundColor: #121214;

.banner {
  width: 100%;
  height: 50vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("../../../public/img/banner.jpg");
  background-size: cover;
  opacity: 50%;
  filter: blur(10px);
  z-index: -2;
  position: relative;
}

.contentContainer {
  width: 100%;
  position: absolute;
}

.content {
  width: 80%;
  height: 100%;
  justify-content: space-evenly;
}
